.buttonk {
  position: relative;
  border-bottom: 1px solid #00a2a2;
  border-left: 1px solid #00a2a2;
  width: 10px;
  height: 12px;
  transform: rotate(-45deg);
  font-weight: 400;
  margin-right: 6px;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-right: none;
  border-top: none;
}

.buttonk::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #00a2a2;
  border-left: 1px solid #00a2a2;
  transform: rotate(180deg);
  font-weight: 400;
  opacity: 1;
  width: 12px;
  height: 12px;
  top: 5px;
  left: 4px;
  margin-left: -10px;
}
.buttonk:checked {
  border-bottom: 1px solid black;
}
