$theme-color-bluegreen: #00c4c4;
$theme-background-color: #ffffff;
$default-font-color: rgba(0, 0, 0, 0.84);
$default-font-size: 15px;
$default-font-family: "Roboto, 'Noto Sans KR', -apple-system, Dotum, sans-serif";
$device-large: "only screen and (max-width : 840px)";
$device-small: "only screen and (max-width : 640px)";
